# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Coverage
.coverage
coverage.xml
htmlcov/

# Environment
.env
.venv
env/
venv/
ENV/
myenv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project-specific
!data/.gitkeep

*UsersrukhmAppDataLocalTemppytest-of-rukhmpytest-22test_save_load_history0test_history.csv
*UsersrukhmAppDataLocalTemppytest-of-rukhmpytest-23test_save_load_history0test_history.csv
*UsersrukhmAppDataLocalTemppytest-of-rukhmpytest-24test_save_load_history0test_history.csv
*UsersrukhmAppDataLocalTemppytest-of-rukhmpytest-25test_save_load_history0test_history.csv
*UsersrukhmAppDataLocalTemppytest-of-rukhmpytest-26test_save_load_history0test_history.csv
*UsersrukhmAppDataLocalTemppytest-of-rukhmpytest-27test_save_load_history0test_history.csv
*UsersrukhmAppDataLocalTemppytest-of-rukhmpytest-28test_save_load_history0test_history.csv
*UsersrukhmAppDataLocalTemppytest-of-rukhmpytest-29test_save_load_history0test_history.csv
*UsersrukhmAppDataLocalTemppytest-of-rukhmpytest-30test_save_load_history0test_history.csv
*UsersrukhmAppDataLocalTemppytest-of-rukhmpytest-31test_save_load_history0test_history.c